body {
    background-color: /*#0d7601*/ #3b8b46;
}

.titre{
    color: #FFFFFF;
}

.navbar-font{
    background-color: #FFFFFF;
}
/*body {
    background-image: url("../images/Pixel_art_terrain.jpg");
    background-repeat: no-repeat;
    background-size: auto 50vh;
}*/

